section {
	display: flex;
	flex-direction: row;
}

div {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
	padding: 1rem;
}

.FunFactCard {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	border-radius: 5px;
	border: 1px solid black;
	background-color: tan;
}

.fact {
	color: black;
}

.elvin-div {
	background-color: rgb(255, 195, 83);
}

.ahmed-div {
	background-color: cadetblue;
}
